---
import Layout from '@layouts/Layout.astro';
import { getCats, getCat } from '@library/useApi';
import { useConvertDate } from '@library/useConvertDate';

export const getStaticPaths = async () => {
  const response = await getCats({ fields: ['id'], limit: 1000 });
  return response.contents.map((content) => ({
    params: {
      id: content.id,
    },
  }));
};

const { id } = Astro.params;
const cat = await getCat(id as string);
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="mx-auto flex max-w-2xl flex-col items-start gap-8 xs:flex-row">
      <img
        src={cat.image.url}
        height={cat.image.height}
        width={cat.image.width}
        alt=""
        class="aspect-square w-full grow-0 rounded-md shadow-sm xs:w-60"
      />

      <div>
        <h1 class="text-2xl font-bold text-stone-800">{cat.title}</h1>
        <time
          datetime={cat.date}
          class="mt-2 font-barlow-semi text-sm text-stone-600"
          >{useConvertDate(cat.date)}</time
        >
        <ul class="mt-3 flex gap-2">
          {
            cat.category.map((category) => {
              return (
                <li class="rounded-sm bg-stone-200 px-2 py-0.5 text-sm font-bold">
                  {category}
                </li>
              );
            })
          }
        </ul>
        <div class="mt-8">
          <div class="post" set:html={cat.content} />
        </div>
      </div>
    </div>
  </main>
</Layout>
